// Placeholder for centering elements using flexbox
%flex-center {
  // Display flex and center content horizontally and vertically
  display: flex;
  justify-content: center;
  align-items: center;
}

// Placeholder for styling app descriptions
%app-description {
  // Text color and font weight for app descriptions
  color: whitesmoke;
  font-weight: 700;
}
